/* for use common style from copado design sysyem */
@import "c/copadoDesignSystem";
.cds-card-footer-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.5rem;
}

.cds-card-body-wrap {
    padding: 1rem 0;
    position: relative;
}

.description {
    color: var(--cds-semantic-color-text-secondary, #646b89);
    font-size: 0.875rem;
}

.cds-badge-success-icon {
    --slds-c-icon-color-foreground-default: var(--cds-semantic-color-success-primary, #00B1A0);
}

.cds-badge-error-icon {
    --slds-c-icon-color-foreground-default: var(--cds-semantic-color-error-primary, #EC563B);
}