.relationship-diagram {
    box-sizing: border-box;
    height: 100vh;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container {
    position: relative;
}

.legend {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    border: 1px solid #95b8d6;
    border-radius: 5px;
    padding: 10px;
    background-color: #edf6f9;
    width: 15%;
    z-index: 1;
}

.legend h1 {
    color: #080707;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 15px;
}

.legend .row {
    display: flex;
    margin-bottom: 15px;
}

.legend .row .parent-relation {
    border-bottom: 2px solid #ba99de;
    width: 15%;
    height: 0;
    margin: 10px 10px 0 10px;
}

.legend .row .child-relation {
    border-bottom: 2px solid #85c0f3;
    width: 15%;
    height: 0;
    margin: 10px 10px 0 10px;
}

.legend .row .filter-icon,
.legend .row .attachment-icon {
    width: 15%;
    height: 0;
    margin: 0 10px 0 10px;
}

.legend .relation-label {
    width: 70%;
}