.timeline-container {
    position: relative;
}

.timeline-container ul {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    max-height: 350px;
}

.timeline-container .gradient-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 1.1rem;
    width: calc(100% - 15px);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* Timeline list scrollbar */

/* Firefox */
.timeline-container ul {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

/* Webkit / Blink */
.timeline-container ul::-webkit-scrollbar {
    width: 6px;
}

.timeline-container ul::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 9999px;
}

.timeline-container ul::-webkit-scrollbar-track {
    background-color: transparent;
}

.content-overflow {
    overflow-wrap: break-word;
}

.timeline .slds-timeline__item_expandable {
    padding-bottom: 12px;
}

.timeline .slds-timeline__item_expandable::before {
    left: 42px;
}

.timeline .slds-timeline__item_expandable.success-class::before {
    background: #2e844a;
}

.timeline .slds-timeline__item_expandable.failed-class::before {
    background: #ea001e;
}

.timeline .slds-timeline__item_expandable.skipped-class::before {
    background: #025fb2;
    top: 35px;
}

.timeline .slds-timeline__item_expandable .slds-timeline__item_details {
    visibility: unset;
    display: none;
}

.timeline .slds-timeline__item_expandable.slds-is-open .slds-timeline__item_details {
    visibility: unset;
    display: block;
}

.timeline .icons {
    margin-left: 10px;
}

.timeline .icons .collapsible-button {
    min-width: 15px;
    display: inline-block;
    margin-right: 5px;
}

.timeline .icons .collapsible-button lightning-icon {
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
    transition: transform 0.2s;
}

.timeline .icons .collapsible-button lightning-icon.is-open {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.timeline .icons .custom-result-icon {
    background-color: white;
    padding-top: 5px;
}

.custom-skipped-icon {
    --sds-c-icon-color-foreground-default: #025fb2;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.timeline .icons .custom-result-spinner {
    margin-left: 22px;
}

.timeline .icons .custom-result-spinner .loading {
    position: absolute;
    top: -2px;
    left: 31px;
    background-color: #fff;
    height: 27px;
    width: 27px;
}

.timeline .icons .custom-result-spinner-text {
    margin-left: 13px;
}

.timeline .slds-media__body.wrapper {
    padding-left: 0;
}

.timeline .slds-media__body.wrapper .slds-timeline__trigger:hover {
    background-color: #fff;
}

.timeline .slds-media__body.wrapper .job-step {
    background-color: #fff;
    z-index: 10;
    padding: 5px 0;
    transform: scale(1);
    transition: 1.5s all ease;
}

.timeline .slds-media__body.wrapper .job-step a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timeline .slds-media__body.wrapper .info {
    transform: scale(1);
    transition: 1.5s all ease;
}

.timeline .slds-media__body.wrapper .options-menu {
    width: 20px;
}

.timeline .slds-media__body.wrapper .job-data {
    display: flex;
    min-height: 30px;
}

.timeline .slds-media__body.wrapper .job-data .step-type {
    width: 170px;
    margin: 0 0.25rem;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timeline .slds-media__body.wrapper .job-data .step-type span.label {
    margin-right: 5px;
}

.timeline .slds-media__body.wrapper .job-data .result {
    width: auto;
    align-self: center;
}

.timeline .slds-media__body.wrapper .job-data .result .result-label {
    align-self: center;
    margin-right: 5px;
}

.timeline .slds-media__body.wrapper article.slds-timeline__item_details {
    margin: 0;
}

.timeline .slds-media__body.wrapper .steps li {
    display: flex;
    margin-bottom: 10px;
}

.timeline .slds-media__body.wrapper .steps li .hour {
    margin-right: 10px;
    min-width: 140px;
}

.timeline .menu ul li span {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: rgb(24, 24, 24);
    white-space: nowrap;
    cursor: pointer;
}

.timeline .menu ul li span:hover {
    outline: 0;
    text-decoration: none;
    background-color: rgb(243, 243, 243);
}

.queue {
    margin: 0 0.25rem;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    position: relative;
    width: 26px;
    height: 26px;
}

.overlap {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 1;
    background-color: #ffffff00;
    width: 10px;
    height: 10px;
}

.clickable {
    color: #025fb2;
    cursor: pointer;
}

/* Note: In Latest version slds added a left margin to this element */
.slds-media__figure {
    margin-left: 0px !important;
}