/* for use common style from copado design sysyem */
@import "c/copadoDesignSystem";

.cds-radio-card {
    background: var(--white);
    border-radius: 0;
    padding: 1rem;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.cds-radio-card.selected {
    background: var(--cds-semantic-color-accent-background);
    border-color: var(--cds-semantic-color-accent-primary);
}

.card-selection span {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    display: inline-block;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
}

.cds-radio-card.selected .card-selection span {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cds-semantic-color-accent-primary);
    border: 1px solid var(--cds-semantic-color-accent-primary);
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
}

.cds-radio-card.selected .card-selection span::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: var(--white);
    border-radius: 100%;
}

.title {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--cds-semantic-color-text-primary);
    font-weight: 400;
}

.title span {
    font-weight: 600;
}


.description {
    font-size: 0.725rem;
    line-height: 1.5;
    color: var(--cds-semantic-color-text-secondary);
}

.cds-radio-card-left {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    width: 65%;
}

.cds-radio-card-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.cds-radio-card-right label {
    font-size: 0.75rem;
    color: var(--cds-semantic-color-text-primary);
}

.cds-radio-card-right .last-update-date {
    font-size: 0.75rem;
    color: var(--cds-semantic-color-text-primary);
    font-weight: 600;
}

.less-margin {
    margin: 1rem 0;
}

.existing-repo-list-header {
    font-size: 1rem;
    color: var(--cds-semantic-color-text-primary);
    font-weight: 600;
    padding: 1rem 0;
}

.existing-repo-list {
    max-height: 20rem;
    overflow: auto;
    padding-right: 1rem;
}