/* for use common style from copado design sysyem */
@import 'c/copadoDesignSystem';

.cds-link {
    color: var(--cds-semantic-color-error-medium);
    text-decoration: underline;
}

.pipeline-detail-form-heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cds-semantic-color-text-primary);
    padding: 1rem 0;
}

.optional-text {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 600;
    padding-top: 1.75rem;
    color: var(--cds-semantic-color-text-secondary, #646b89);
}

.example-representation {
    border-radius: 8px;
    background: var(--cds-semantic-color-background-lightest, #f6f7f8);
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-representation img {
    max-width: 30rem;
    width: 90%;
}

.example-box h5 {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--cds-semantic-color-text-secondary, #646b89);
    padding-bottom: 0.5rem;
}

.cds-radio-card {
    background: var(--white);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.cds-radio-card.selected {
    background: var(--cds-semantic-color-accent-background);
    border-color: var(--cds-semantic-color-accent-primary);
}

.card-selection span {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    display: inline-block;
    background: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
}

.cds-radio-card.selected .card-selection span {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cds-semantic-color-accent-primary);
    border: 1px solid var(--cds-semantic-color-accent-primary);
    border-radius: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 5px 4px -4px rgba(0, 0, 0, 0.02);
}

.cds-radio-card.selected .card-selection span::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    background: var(--white);
    border-radius: 100%;
}

.title {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--cds-semantic-color-text-primary);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.description {
    font-size: 0.725rem;
    line-height: 1.5;
    color: var(--cds-semantic-color-text-secondary);
}

.pipeline-template-left {
    padding-right: 1rem;
}

.pipeline-template-right {
    padding-left: 1rem;
}

.dev-environments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.slds-m-horizontal_xx-small {
    width: 75px;
}

.environment-counter {
    display: flex;
    align-items: center;
}

.environment-counter .cds-button-icon {
    --slds-c-button-color-border: var(--cds-semantic-color-borders-dark);
}

.input-counter {
    width: 3rem;
    pointer-events: none;
}

.environment-counter .cds-input {
    --slds-c-input-radius-border: 0;
    --slds-c-input-color-border: var(--cds-semantic-color-borders-light, #dddee5);
    --slds-c-input-spacing-horizontal-end: 0;
    --slds-c-input-spacing-horizontal-start: 1rem;
    --slds-c-input-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.dev-environments .label-with-helptext {
    padding-right: 0.5rem;
}

.label-with-helptext .dev-environment-label {
    font-weight: 600;
    font-size: 0.875rem;
    padding-right: 0.5rem;
}

.cds-counter-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.cds-counter-icon.disabled {
    background: #f3f3f3;
    cursor: default;
    pointer-events: none;
}

.counter-minus-icon {
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--cds-semantic-color-borders-light, #dddee5);
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-right: 0;
}

.counter-add-icon {
    border-radius: 0 8px 8px 0;
    border: 1px solid var(--cds-semantic-color-borders-light, #dddee5);
    box-shadow: 0px 5px 4px -4px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-left: 0;
}