.THIS {
}
.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 3px 0 15px 0;
    background-color: white;
    padding: 10px 10px 10px;
}
.THIS .custom-box {
    text-align: left;
    margin: 10px 0 10px 0;
    background-color: #e8e8e8;
    border: 1px solid #d8dde6;
    font-size: 14px;
}
.THIS .slds-text-heading_medium {
    padding: 0px 20px 10px;
}
.THIS .c-heading {
    padding: 0px 10px 0px;
}
.THIS .c-footer {
    padding: 0px 10px 0px ;
}