/* for use common style from copado design sysyem */
@import "c/copadoDesignSystem";

.persona-card {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.04);
}

.empty-state-wrapper {
    min-height: 62vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.license-list {
    padding-left: 1.5rem;
}

.license-list .license-list-item {
    padding-bottom: 1rem;
}

.license-list .license-list-item:last-child {
    padding-bottom: 0;
}

.cds-link {
    color: var(--cds-semantic-color-error-medium);
    text-decoration: underline;
}

.license-summary-wrap h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--cds-semantic-color-text-primary);
    padding-bottom: 0.5rem;
}

.license-summary-wrap ul li {
    font-size: 0.875rem;
    color: var(--cds-semantic-color-text-secondary);
    padding: 0.25rem;
    list-style: disc;
    margin-left: 1rem;
}