/* for use common style from copado design sysyem */
@import "c/copadoDesignSystem";

.persona-card {
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.04);
}

.empty-state-wrapper {
    min-height: 62vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.cds-link {
    color: var(--cds-semantic-color-accent-primary);
}